/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.svg-icon{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px; /* Add padding to the SVG icon */
}

.navbar-brand{
    position:relative;
    color:white;
}

.helpnav {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    width: 100%;
}

.signin{
    width: 15vh;
    border-radius: 20px;
    background-color: darkgrey;
    font-size: large;
}

.mainopts{
    padding: 10vh 30vh 5vh 30vh;
}

.menucol{
    height: 40vb;
    background-color: #069eeb; 
}

.col1{
    margin-right: 10vh ;
}
body{
    background-color: bisque;
}

.citydropdown{
    width: 30vh;
    margin-left: auto;
    margin-right: auto;
}
form{
    text-align: center;
}




form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }