body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.team-member {
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}
